@import "tailwindcss";

main {
  @apply flex min-h-screen flex-col items-center justify-center md:p-10;
  @apply bg-radial from-sky-500 to-violet-700 text-white;
}
h1 {
  @apply xl:text-7xl text-4xl font-bold;
}
div h1 {
  @apply xl:text-5xl text-2xl font-bold;
}
h2 {
  @apply xl:text-4xl text-xl opacity-70;
}
.cta-a {
  @apply bg-sky-500 hover:bg-linear-to-r hover:from-sky-500 hover:to-rose-500 text-white font-bold py-5 px-8 shadow rounded-full w-fit;
  @apply duration-300 transition-all transform hover:scale-110;
  @apply hover:cursor-pointer hover:shadow-lg;
}
.cta-b {
  @apply bg-sky-500 hover:bg-rose-500 text-white font-bold px-2 py-1 rounded-xl w-fit;
  @apply duration-300 transition-all transform hover:scale-110;
  @apply hover:cursor-pointer hover:shadow-lg;
}
span.card {
  @apply bg-white/50 text-black p-2 rounded-lg shadow-lg;
}
